*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat',sans-serif;
}
a{
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
#one{
    background-image:url(https://img.freepik.com/premium-photo/hands-typing-colorful-backlit-mechanical-keyboard-coding-visible-monitor-tech-setup_98005-3052.jpg)
    background-size: cover;
    background-position:top center;
}
#one h1{
    display:block;
    width:fit-content;
    font-size:4rem;
    position:relative;
    color:rgb(0,0,0);
}

}
}